@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Cinzel+Decorative:wght@400;700&family=IM+Fell+English+SC&display=swap");

body {
  font-family: "Cinzel Decorative";
  background-image: url("../../src/Images/namsayin.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: 2000px;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cinzel Decorative", serif;
  letter-spacing: 2px;
}

textarea {
  font-weight: bold;
  font-family: "Cinzel Decorative", serif;
  resize: vertical;
  text-align: center;
}

select {
  padding: .3rem;
  font-weight: bold;
  font-family: "Cinzel Decorative", serif;
  letter-spacing: 1px;
}

option {
  font-weight: bold;
  padding-bottom: .5rem;
}

input {
  text-align: center;
  font-weight: bold;
  font-family: "Cinzel Decorative", serif;
}

button {
  transition-duration: 0.4s;
  font-family: "Cinzel Decorative", serif;
  background-color: rgb(34, 34, 34);
  color: White;
  padding: .2rem .7rem;
  font-weight: bold;
  border: 1.5px outset white;
  border-radius: 10px;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.50);
  background-color: white;
  color: black;
  font-weight: bold;
  border: 1.5px outset black;
}

.mizgogPageHeader {
  margin: auto;
  text-align: center;
  color: white;
  font-size: 35px;
  font-weight: bold;
  padding: 2rem 0;
  max-width: 55%;
  text-shadow: -2.2px -2.2px 0 #000, 2.2px -2.2px 0 #000, -2.2px 2.2px 0 #000,
    2.2px 2.2px 0 #000;
}
