.rootInfo {
  margin: auto;
  text-align: center;
  font-size: 19px;
  color: white;
  padding: 2rem;
  background-color: rgba(24, 24, 24, 0.8);
  border: 2px outset white;
  border-radius: 10px;
  max-width: 900px;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
}

.rootInfoHead {
  margin: auto;
    margin-top: 8rem;
    margin-bottom: 4rem;
    max-width: 900px;
    font-size: 30px;
    text-align: center;
    color: white;
    text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
}

/* .rootInfoContainerDiv {
    margin: auto;
  background-color: rgba(0, 0, 0, 0.79);
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000,
    1.5px 1.5px 0 #000;
  margin-top: 5rem;
  border-radius: 2%;
  max-width: 75%;
} */
